* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'DM Sans', sans-serif;
}


/* Reset CSS */
a {
  color: inherit;
  text-decoration: none;
}

input,
button,
textarea {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  border: none;
}

input:focus,
input:active,
button:focus, 
button:active, 
textarea:focus, 
textarea:active {
  box-shadow: none;
  outline: none;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #2B292D;
}

.fill-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 48px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: -0.05em;
  color: #fff;
  background-color: #3040C4;
  transition: opacity 300ms ease-in-out;
}

.fill-button:hover { 
  opacity: 0.8;
}

.fill-button.inverted {
  background-color: #fff;
  color: #3040C4;
}

.section {
  padding: 80px 0;
}

.section-category {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.01em;
  margin-bottom: 8px;
}

.section-title {
  font-size: 34px;
  font-weight: 700;
  line-height: 1.0588235294;
  letter-spacing: -0.03em;
  color: #2b292d;
  margin-bottom: 24px;
}


/* Landing */

.landing {
  background-color: #FDDED8;
  text-align: center;
}

.landing-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.landing-title {
  font-size: 40px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -0.05em;
  color: #2B292D;
  margin-bottom: 24px;
}

.landing-desc {
  margin-bottom: 24px;
}

.landing .button-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing .fill-button:first-child {
  margin-right: 8px;
}

/* Service */

.service {
  background-color: #F4F5F7;
  padding: 80px 15px;
}

.service-title {
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: -0.04em;
  color: #2B292D;
  margin-bottom: 16px;
}

.service .col-12:first-child{
  margin-bottom: 40px;
}

/* Program */

.program .row:first-child {
  margin-bottom: 32px;
}

.program .col-md-4 {
  margin-bottom: 20px;
}

.program .col-md-4:last-child {
  margin-bottom: 0;
}

.program .section-category {
  color: #009B4D;
}

.section-desc {
  margin-bottom: 32px;
}

.program-card {
  display: block;
  padding: 24px 0 32px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  text-align: center;
  transition: background-color 300ms ease-in-out, box-shadow 300ms ease-in-out;
}

.program-card:hover {
  background-color: #3141C5;
  color: #fff;
  box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15), 0px 11px 55px rgba(0, 0, 0, 0.07);
}


.program-card img {
  display: block;
  width: auto;
  height: 195px;
  margin: 0 auto 16px;
}

.program-card strong {
  font-size: 18px;
  line-height: 1.33333333;
  letter-spacing: -0.02em;
}

/* Curriculum */

.curriculum .section-category {
  color: #0189D1;
}

.curriculum .section-desc {
  margin-bottom: 32px;
}

.curriculum .fill-button {
  margin-bottom: 48px;
}

.curriculum-img {
  display: none;
}

.curriculum-detail-desc {
  font-size: 15px;
  line-height: 1.4666666666;
  letter-spacing: -0.01em;
  color: #2B292D;
}

.curriculum .row:last-child .col-12:first-child {
  margin-bottom: 40px;
}

/* subscription */

.subscription {
  background-color: #F2F8FA;
  text-align: center;
  padding: 40px 0;
}

.subscription-img {
  padding: 25px 0;
  margin-bottom: 16px;
}

.subscription-img img {
  display: block;
  width: auto;
  height: 190px;
  margin: 0 auto;
}

.subscription-title {
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.05em;
  color: #2b292d;
  margin-bottom: 16px;
}

.subscription-desc {
  margin-bottom: 24px;
}

.subscription .input-group {
  margin-bottom: padding;
}

.subscription .input-group input {
  width: 100%;
  height: 48px;
  padding: 0 16px;
  border-radius: 2px;
  background-color: #fff;
  margin-bottom: 8px;
}

.subscription .input-group .fill-button {
  width: 100%;
}

.form-notice {
  font-size: 13px;
  line-height: 1.5384615385;
  letter-spacing: 0;
  color: #7b7b7e;
}

.form-notice a {
  color: #3040C4;
  text-decoration: underline;
}

/* Footer */

.footer {
  padding: 24px 0;
}

.footer-link {
  margin-bottom: 8px;
}

.footer-link:last-child {
  margin-bottom: 0;
}

.footer-link a {
  font-size: 14px;
  line-height: 1.7142857143;
  color: #807f81;
}

/* >= 768px (desktop) */
@media screen and (min-width:768px) {
  /* Reset CSS */
  p {
    font-size: 22px;
    line-height: 1.36363636;
  }
  
  .section {
    padding-bottom: 96px ;
  }
  
  .section-category {
    font-size: 22px;
    line-height: 1.0909090909;
    margin-bottom: 16px;
  }
  
  .section-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 32px;
  }
   

  /* Landing */

  .landing-content {
    height: auto;
    padding: 120px 0;
  }
 
  .landing-title {
    font-size: 70px; 
    line-height: 1.028571428;
    margin-bottom: 32px;
  }
  
  .landing-desc {
    margin-bottom: 32px;
  }
  
  .fill-button {
    width: 160px;
    height: 56px;
    font-size: 18px;
    line-height: 1.555555555;
  }

  .landing .fill-button:first-child {
    margin-right: 16px;
  }
  
  .landing .inverted {
    background-color: #fff;
    color: #3040C4;
  }

  /* Service */

  .service {
    padding: 80px 0;
    display: flex;
    align-items: center;
  }

  .service-title {
    font-size: 26px;
    line-height: 1.30769230;
  }

  .service .col-12:first-child{
    margin-bottom: 0;
  }

  /* Program */

  .program {
    text-align: center;
  }

  .program .row:first-child {
    margin-bottom: 72px;
  }

  .program-card img {
    margin-bottom: 24px;
  }

  .program-card strong {
    font-size: 20px;
    line-height: 1.2;
  }

  /* Curriculum */

  .curriculum {
    display: flex;
    text-align: left;
  }

  .curriculum row:first-child {
    margin-bottom: 24px;
  }

  .curriculum-img {
    display: block;
  }

  .curriculum-img img {
    display: block;
    width: 100%;
    max-width: 425px;
    height: auto;
  }
  
  .curriculum .section-desc {
    margin-bottom: 72px;
  }

  .curriculum-detail-desc {
    font-size: 18px;
    line-height: 1.4444444444;
  }

  .curriculum .fill-button {
    margin-bottom: 66px;
  }

  .curriculum .row:last-child .col-12:first-child {
    margin-bottom: 0;
  }

  /* Subscription */

  .subscription {
    text-align: left;
    padding: 80px 0;
  }

  .subscription-img {
    padding: 8px 0;
  }

  .subscription-img img {
    height: 285px;
    margin-left: 0;
  }

  .subscription-title {
    font-size: 40px;
  }

  .input-group {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
  }

  .subscription .input-group input {
    height: 56px;
    font-size: 18px;
    line-height: 1.3333333333;
  }

  .subscription .input-group .fill-button {
    width: 160px;
    flex-shrink: 0;
  }

  .form-notice {
    font-size: 14px;
    line-height: 1.7142857143;
  }

  /* Footer */
  .footer {
    padding: 16px 0;
  }

  .footer-links {
    display: flex;
    align-items: center;
  }

  .footer-link  {
    margin-bottom: 0;
    margin-right: 16px;
  }

  .footer-link:last-child {
    margin-right: 0;
  }

}

/* Custom Grid System - Fix container width */

@media screen and (min-width: 1200px) {
  .container {
    max-width: 960px !important;
  }
}